@media (max-width: 360px) {
    /* header */
    .user_resp_btn {
        display: flex;
        width: 32px;
        height: 32px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #F30AEA;
        font-size: 16px;
        color: #FFFFFF;
        background: transparent;
    }

    .head_log_btn {
        display: none;
    }

    .prch_btn {
        width: 32px;
        height: 32px;
    }

    .fa-cart-shopping {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .section_contact_input {
        width: 145px;
        height: 48px;
    }
    .info_order {
        font-size: 13.4px;
    }

    .order_option_t1 {
        font-size: 12.5px;
    }
    .order_option_t {
        font-size: 12.5px;
    }
} 

@media (max-width: 325px) {
    .section_contact_input {
        width: 140px;
        height: 48px;
    }
} 